.title {
    -fx-font-size: 36px;
    -fx-font-weight: BOLD;
}

.trainer-label {
    -fx-text-fill: #036500;
}

.past-date {
    -fx-background-color: #cccccc;
}

.row-disabled, .disabled-hour {
    -fx-opacity: 0.4;
}

.datepicker-no-court-available, .unavailable-hour {
    -fx-background-color: #ffb4b4;
    -fx-opacity: 0.4;
}

.trainer-available {
    -fx-background-color: #99ffaa;
}

.number-column, .price-column {
    -fx-alignment: center;
}

.table-title {
    -fx-font-size: 16px;
    -fx-font-weight: BOLD;
}
