.title {
    -fx-font-size: 36px;
    -fx-font-weight: BOLD;
}

.trainer-label {
    -fx-text-fill: #036500;
}

.past-date {
    -fx-background-color: #cccccc;
}

.datepicker-no-court-available, .unavailable-hour {
    -fx-background-color: #ffb4b4;
    -fx-opacity: 0.4;
}

.number-column, .price-column {
    -fx-alignment: center;
}
